* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
}

.loader {
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  background: url("../img/loader-XXIO.jpg");
  opacity: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.index-wrapper {
  background-color: rgba(90, 89, 89, 0.2);
  min-height: 100vh;
  background-image: url("../img/bg-XXIO.jpg");
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

.loader-container {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.save-message {
  text-align: center;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.copyright {
  font-size: 0.6rem;
  text-align: center;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
}

header {
  width: 100%;
}

nav {
  background-color: #000000;
  color: #ffffff;
  font-size: 15px;
  min-height: 25px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}
nav a {
  margin-left: 5px;
  margin-right: 5px;
}
nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.name p {
  font-size: 0.8rem;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}

.p-large {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

h1,
h2,
h4 {
  text-transform: uppercase;
  margin: 15px 0 15px 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.9rem;
  color: #808080;
}

.under-title {
  color: #808080;
}

h3 {
  color: #808080;
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:active {
  color: #000000;
}

p {
  color: #808080;
  line-height: 2;
  font-size: 0.8rem;
  margin-bottom: 30px;
}

td {
  color: #808080;
  font-size: 0.8rem;
}

.red {
  color: red;
  font-weight: bold;
  display: inline;
}

.p-list {
  color: #808080;
  line-height: 2;
  font-size: 0.8rem;
}

.header-img {
  width: 100%;
  margin-top: 20px;
}

.header-img-main {
  width: 100%;
  padding: 5px 5px 0 5px;
  opacity: 0;
}

main {
  margin: 0 5px;
}

.index-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.category {
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.category-card {
  margin: 0;
}

.h2-categories {
  background-color: #000000;
  padding: 5px;
  width: 100%;
  color: #ffffff;
  font-size: 0.8rem;
  margin: 0;
}

.cat-img {
  display: block;
  width: 100%;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 20px 0;
}

ul li {
  text-transform: lowercase;
  font-size: 0.8rem;
}

.options {
  line-height: 1.5;
  margin: 10px 0;
}

.products {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.product-img {
  width: 100px;
  height: 100px;
}

.product-details-img {
  width: 100%;
}

.product-name {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.img-tech {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.icon-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container i {
  font-size: 50px;
}

table {
  border: 0.5px solid #c5c4c4;
  width: 100%;
  margin-bottom: 30px;
}

.product-details {
  color: #808080;
  line-height: 1.5;
}

.img-spec {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.price {
  margin-top: 40px;
}

footer {
  width: 100%;
  margin: 5px;
  grid-template-columns: repeat(2, 1fr);
}
footer h3 {
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* image slider */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 25px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-out {
  opacity: 0.4;
  transition: opacity 500ms linear;
}

/* responsive */
.download {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-button img {
  margin-top: 15px;
  max-width: 200px;
  pointer-events: auto;
}

@media only screen and (min-width: 700px) {
  .responsive {
    min-height: 100%;
    min-width: 100%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

  nav {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

  p {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .h2-categories {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  .name p {
    font-size: 1.7rem;
  }

  .header-img {
    margin-top: 47px;
  }

  .prev {
    text-align: left;
  }

  .loader {
    background-size: initial;
    background-position: center;
  }

  .index-wrapper {
    background-size: initial;
    background-position: center;
  }
}
@media only screen and (min-width: 900px) {
  body {
    width: 900px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
  }
}

/*# sourceMappingURL=style.css.map */
